<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foodregulation.dao.mapper.AppUserLocationMapper" >
  <resultMap id="BaseResultMap" type="com.foodregulation.dao.entity.AppUserLocation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="timestamp" property="timestamp" jdbcType="CHAR" />
    <result column="perosn_tel" property="perosnTel" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, longitude, latitude, timestamp
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_user_location
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_user_location
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.foodregulation.dao.entity.AppUserLocation" >
    insert into t_app_user_location (id, userName, longitude, 
      latitude, timestamp)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{longitude,jdbcType=REAL}, 
      #{latitude,jdbcType=REAL}, #{timestamp,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.foodregulation.dao.entity.AppUserLocation" >
    insert into t_app_user_location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="timestamp != null" >
        timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="timestamp != null" >
        #{timestamp,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodregulation.dao.entity.AppUserLocation" >
    update t_app_user_location
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="timestamp != null" >
        timestamp = #{timestamp,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodregulation.dao.entity.AppUserLocation" >
    update t_app_user_location
    set userName = #{username,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL},
      timestamp = #{timestamp,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getNowLocation" resultMap="BaseResultMap" parameterType="map">
	select  c.id,c.userName, c.longitude, c.latitude, c.timestamp,d.person_name,d.perosn_tel from (select * from (select a.id,a.userName, a.longitude, a.latitude, a.timestamp from t_app_user_location a order by a.timestamp desc) b
 		group by b.userName) c,t_person_info d,t_dictionary e where c.userName = d.user_name  and d.person_company_id = e.id
 		<if test="username!=null and username!=''">
 		 and c.userName = #{username}
 		</if>
 		<if test="unit!=null and unit!=''">
         and e.t_dictionary_code= #{unit}
        </if>
 </select>
</mapper>