<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foodregulation.dao.mapper.FoodMapper" >
  <resultMap id="BaseResultMap" type="com.foodregulation.dao.entity.Food" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qyname" property="qyname" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="scaddress" property="scaddress" jdbcType="VARCHAR" />
    <result column="ems" property="ems" jdbcType="VARCHAR" />
    <result column="qydelegate" property="qydelegate" jdbcType="VARCHAR" />
    <result column="qyphone" property="qyphone" jdbcType="VARCHAR" />
    <result column="jjtype" property="jjtype" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gsorganization" property="gsorganization" jdbcType="VARCHAR" />
    <result column="zzcode" property="zzcode" jdbcType="VARCHAR" />
    <result column="cldate" property="cldate" jdbcType="VARCHAR" />
    <result column="nzyield" property="nzyield" jdbcType="VARCHAR" />
    <result column="cyNum" property="cynum" jdbcType="VARCHAR" />
    <result column="seats" property="seats" jdbcType="VARCHAR" />
    <result column="jyArea" property="jyarea" jdbcType="VARCHAR" />
    <result column="healthNum" property="healthnum" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="spdelegate" property="spdelegate" jdbcType="VARCHAR" />
    <result column="jiandurenyuan" property="jiandurenyuan" jdbcType="VARCHAR" />
    <result column="xieguanrenyuan" property="xieguanrenyuan" jdbcType="VARCHAR" />
    <result column="scpermit" property="scpermit" jdbcType="VARCHAR" />
    <result column="fazhengjiguan" property="fazhengjiguan" jdbcType="VARCHAR" />
    <result column="fazhengriqi" property="fazhengriqi" jdbcType="VARCHAR" />
    <result column="youxiaodate" property="youxiaodate" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="amend" property="amend" jdbcType="VARCHAR" />
    <result column="fddelegate" property="fddelegate" jdbcType="VARCHAR" />
    <result column="fdphone" property="fdphone" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, qyname, address, scaddress, ems, qydelegate, qyphone, jjtype, email, gsorganization, 
    zzcode, cldate, nzyield, cyNum, seats, jyArea, healthNum, department, spdelegate, 
    jiandurenyuan, xieguanrenyuan, scpermit, fazhengjiguan, fazhengriqi, youxiaodate, 
    longitude, latitude, type, remark, amend, fddelegate, fdphone, phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from food
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from food
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.foodregulation.dao.entity.Food" >
    insert into food (id, qyname, address, 
      scaddress, ems, qydelegate, 
      qyphone, jjtype, email, 
      gsorganization, zzcode, cldate, 
      nzyield, cyNum, seats, 
      jyArea, healthNum, department, 
      spdelegate, jiandurenyuan, xieguanrenyuan, 
      scpermit, fazhengjiguan, fazhengriqi, 
      youxiaodate, longitude, latitude, 
      type, remark, amend, 
      fddelegate, fdphone, phone
      )
    values (#{id,jdbcType=INTEGER}, #{qyname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{scaddress,jdbcType=VARCHAR}, #{ems,jdbcType=VARCHAR}, #{qydelegate,jdbcType=VARCHAR}, 
      #{qyphone,jdbcType=VARCHAR}, #{jjtype,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{gsorganization,jdbcType=VARCHAR}, #{zzcode,jdbcType=VARCHAR}, #{cldate,jdbcType=VARCHAR}, 
      #{nzyield,jdbcType=VARCHAR}, #{cynum,jdbcType=VARCHAR}, #{seats,jdbcType=VARCHAR}, 
      #{jyarea,jdbcType=VARCHAR}, #{healthnum,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{spdelegate,jdbcType=VARCHAR}, #{jiandurenyuan,jdbcType=VARCHAR}, #{xieguanrenyuan,jdbcType=VARCHAR}, 
      #{scpermit,jdbcType=VARCHAR}, #{fazhengjiguan,jdbcType=VARCHAR}, #{fazhengriqi,jdbcType=VARCHAR}, 
      #{youxiaodate,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{amend,jdbcType=VARCHAR}, 
      #{fddelegate,jdbcType=VARCHAR}, #{fdphone,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.foodregulation.dao.entity.Food" >
    insert into food
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qyname != null" >
        qyname,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="scaddress != null" >
        scaddress,
      </if>
      <if test="ems != null" >
        ems,
      </if>
      <if test="qydelegate != null" >
        qydelegate,
      </if>
      <if test="qyphone != null" >
        qyphone,
      </if>
      <if test="jjtype != null" >
        jjtype,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="gsorganization != null" >
        gsorganization,
      </if>
      <if test="zzcode != null" >
        zzcode,
      </if>
      <if test="cldate != null" >
        cldate,
      </if>
      <if test="nzyield != null" >
        nzyield,
      </if>
      <if test="cynum != null" >
        cyNum,
      </if>
      <if test="seats != null" >
        seats,
      </if>
      <if test="jyarea != null" >
        jyArea,
      </if>
      <if test="healthnum != null" >
        healthNum,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="spdelegate != null" >
        spdelegate,
      </if>
      <if test="jiandurenyuan != null" >
        jiandurenyuan,
      </if>
      <if test="xieguanrenyuan != null" >
        xieguanrenyuan,
      </if>
      <if test="scpermit != null" >
        scpermit,
      </if>
      <if test="fazhengjiguan != null" >
        fazhengjiguan,
      </if>
      <if test="fazhengriqi != null" >
        fazhengriqi,
      </if>
      <if test="youxiaodate != null" >
        youxiaodate,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="amend != null" >
        amend,
      </if>
      <if test="fddelegate != null" >
        fddelegate,
      </if>
      <if test="fdphone != null" >
        fdphone,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qyname != null" >
        #{qyname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="scaddress != null" >
        #{scaddress,jdbcType=VARCHAR},
      </if>
      <if test="ems != null" >
        #{ems,jdbcType=VARCHAR},
      </if>
      <if test="qydelegate != null" >
        #{qydelegate,jdbcType=VARCHAR},
      </if>
      <if test="qyphone != null" >
        #{qyphone,jdbcType=VARCHAR},
      </if>
      <if test="jjtype != null" >
        #{jjtype,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gsorganization != null" >
        #{gsorganization,jdbcType=VARCHAR},
      </if>
      <if test="zzcode != null" >
        #{zzcode,jdbcType=VARCHAR},
      </if>
      <if test="cldate != null" >
        #{cldate,jdbcType=VARCHAR},
      </if>
      <if test="nzyield != null" >
        #{nzyield,jdbcType=VARCHAR},
      </if>
      <if test="cynum != null" >
        #{cynum,jdbcType=VARCHAR},
      </if>
      <if test="seats != null" >
        #{seats,jdbcType=VARCHAR},
      </if>
      <if test="jyarea != null" >
        #{jyarea,jdbcType=VARCHAR},
      </if>
      <if test="healthnum != null" >
        #{healthnum,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="spdelegate != null" >
        #{spdelegate,jdbcType=VARCHAR},
      </if>
      <if test="jiandurenyuan != null" >
        #{jiandurenyuan,jdbcType=VARCHAR},
      </if>
      <if test="xieguanrenyuan != null" >
        #{xieguanrenyuan,jdbcType=VARCHAR},
      </if>
      <if test="scpermit != null" >
        #{scpermit,jdbcType=VARCHAR},
      </if>
      <if test="fazhengjiguan != null" >
        #{fazhengjiguan,jdbcType=VARCHAR},
      </if>
      <if test="fazhengriqi != null" >
        #{fazhengriqi,jdbcType=VARCHAR},
      </if>
      <if test="youxiaodate != null" >
        #{youxiaodate,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="amend != null" >
        #{amend,jdbcType=VARCHAR},
      </if>
      <if test="fddelegate != null" >
        #{fddelegate,jdbcType=VARCHAR},
      </if>
      <if test="fdphone != null" >
        #{fdphone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodregulation.dao.entity.Food" >
    update food
    <set >
      <if test="qyname != null" >
        qyname = #{qyname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="scaddress != null" >
        scaddress = #{scaddress,jdbcType=VARCHAR},
      </if>
      <if test="ems != null" >
        ems = #{ems,jdbcType=VARCHAR},
      </if>
      <if test="qydelegate != null" >
        qydelegate = #{qydelegate,jdbcType=VARCHAR},
      </if>
      <if test="qyphone != null" >
        qyphone = #{qyphone,jdbcType=VARCHAR},
      </if>
      <if test="jjtype != null" >
        jjtype = #{jjtype,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gsorganization != null" >
        gsorganization = #{gsorganization,jdbcType=VARCHAR},
      </if>
      <if test="zzcode != null" >
        zzcode = #{zzcode,jdbcType=VARCHAR},
      </if>
      <if test="cldate != null" >
        cldate = #{cldate,jdbcType=VARCHAR},
      </if>
      <if test="nzyield != null" >
        nzyield = #{nzyield,jdbcType=VARCHAR},
      </if>
      <if test="cynum != null" >
        cyNum = #{cynum,jdbcType=VARCHAR},
      </if>
      <if test="seats != null" >
        seats = #{seats,jdbcType=VARCHAR},
      </if>
      <if test="jyarea != null" >
        jyArea = #{jyarea,jdbcType=VARCHAR},
      </if>
      <if test="healthnum != null" >
        healthNum = #{healthnum,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="spdelegate != null" >
        spdelegate = #{spdelegate,jdbcType=VARCHAR},
      </if>
      <if test="jiandurenyuan != null" >
        jiandurenyuan = #{jiandurenyuan,jdbcType=VARCHAR},
      </if>
      <if test="xieguanrenyuan != null" >
        xieguanrenyuan = #{xieguanrenyuan,jdbcType=VARCHAR},
      </if>
      <if test="scpermit != null" >
        scpermit = #{scpermit,jdbcType=VARCHAR},
      </if>
      <if test="fazhengjiguan != null" >
        fazhengjiguan = #{fazhengjiguan,jdbcType=VARCHAR},
      </if>
      <if test="fazhengriqi != null" >
        fazhengriqi = #{fazhengriqi,jdbcType=VARCHAR},
      </if>
      <if test="youxiaodate != null" >
        youxiaodate = #{youxiaodate,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="amend != null" >
        amend = #{amend,jdbcType=VARCHAR},
      </if>
      <if test="fddelegate != null" >
        fddelegate = #{fddelegate,jdbcType=VARCHAR},
      </if>
      <if test="fdphone != null" >
        fdphone = #{fdphone,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodregulation.dao.entity.Food" >
    update food
    set qyname = #{qyname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      scaddress = #{scaddress,jdbcType=VARCHAR},
      ems = #{ems,jdbcType=VARCHAR},
      qydelegate = #{qydelegate,jdbcType=VARCHAR},
      qyphone = #{qyphone,jdbcType=VARCHAR},
      jjtype = #{jjtype,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gsorganization = #{gsorganization,jdbcType=VARCHAR},
      zzcode = #{zzcode,jdbcType=VARCHAR},
      cldate = #{cldate,jdbcType=VARCHAR},
      nzyield = #{nzyield,jdbcType=VARCHAR},
      cyNum = #{cynum,jdbcType=VARCHAR},
      seats = #{seats,jdbcType=VARCHAR},
      jyArea = #{jyarea,jdbcType=VARCHAR},
      healthNum = #{healthnum,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      spdelegate = #{spdelegate,jdbcType=VARCHAR},
      jiandurenyuan = #{jiandurenyuan,jdbcType=VARCHAR},
      xieguanrenyuan = #{xieguanrenyuan,jdbcType=VARCHAR},
      scpermit = #{scpermit,jdbcType=VARCHAR},
      fazhengjiguan = #{fazhengjiguan,jdbcType=VARCHAR},
      fazhengriqi = #{fazhengriqi,jdbcType=VARCHAR},
      youxiaodate = #{youxiaodate,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      amend = #{amend,jdbcType=VARCHAR},
      fddelegate = #{fddelegate,jdbcType=VARCHAR},
      fdphone = #{fdphone,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>