<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.foodregulation.dao.mapper.HealthMapper" >
  <resultMap id="BaseResultMap" type="com.foodregulation.dao.entity.Health" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="qyname" property="qyname" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="scaddress" property="scaddress" jdbcType="VARCHAR" />
    <result column="ems" property="ems" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="jjtype" property="jjtype" jdbcType="VARCHAR" />
    <result column="gsorganization" property="gsorganization" jdbcType="VARCHAR" />
    <result column="zzcode" property="zzcode" jdbcType="VARCHAR" />
    <result column="fddelegate" property="fddelegate" jdbcType="VARCHAR" />
    <result column="fdphone" property="fdphone" jdbcType="VARCHAR" />
    <result column="qydelegate" property="qydelegate" jdbcType="VARCHAR" />
    <result column="qyphone" property="qyphone" jdbcType="VARCHAR" />
    <result column="jyArea" property="jyarea" jdbcType="VARCHAR" />
    <result column="jyNum" property="jynum" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="spdelegate" property="spdelegate" jdbcType="VARCHAR" />
    <result column="jiandurenyuan" property="jiandurenyuan" jdbcType="VARCHAR" />
    <result column="xieguanrenyuan" property="xieguanrenyuan" jdbcType="VARCHAR" />
    <result column="scpermit" property="scpermit" jdbcType="VARCHAR" />
    <result column="fazhengjiguan" property="fazhengjiguan" jdbcType="VARCHAR" />
    <result column="fazhengriqi" property="fazhengriqi" jdbcType="VARCHAR" />
    <result column="youxiaodate" property="youxiaodate" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="healthFood" property="healthfood" jdbcType="VARCHAR" />
    <result column="cosmetic" property="cosmetic" jdbcType="VARCHAR" />
    <result column="jyType" property="jytype" jdbcType="VARCHAR" />
    <result column="cyNum" property="cynum" jdbcType="VARCHAR" />
    <result column="graduateNum" property="graduatenum" jdbcType="VARCHAR" />
    <result column="juniorNum" property="juniornum" jdbcType="VARCHAR" />
    <result column="manage" property="manage" jdbcType="VARCHAR" />
    <result column="amend" property="amend" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, qyname, address, scaddress, ems, phone, fax, email, jjtype, gsorganization, zzcode, 
    fddelegate, fdphone, qydelegate, qyphone, jyArea, jyNum, department, spdelegate, 
    jiandurenyuan, xieguanrenyuan, scpermit, fazhengjiguan, fazhengriqi, youxiaodate, 
    longitude, latitude, healthFood, cosmetic, jyType, cyNum, graduateNum, juniorNum, 
    manage, amend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from health
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from health
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.foodregulation.dao.entity.Health" >
    insert into health (id, qyname, address, 
      scaddress, ems, phone, 
      fax, email, jjtype, 
      gsorganization, zzcode, fddelegate, 
      fdphone, qydelegate, qyphone, 
      jyArea, jyNum, department, 
      spdelegate, jiandurenyuan, xieguanrenyuan, 
      scpermit, fazhengjiguan, fazhengriqi, 
      youxiaodate, longitude, latitude, 
      healthFood, cosmetic, jyType, 
      cyNum, graduateNum, juniorNum, 
      manage, amend)
    values (#{id,jdbcType=INTEGER}, #{qyname,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{scaddress,jdbcType=VARCHAR}, #{ems,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{jjtype,jdbcType=VARCHAR}, 
      #{gsorganization,jdbcType=VARCHAR}, #{zzcode,jdbcType=VARCHAR}, #{fddelegate,jdbcType=VARCHAR}, 
      #{fdphone,jdbcType=VARCHAR}, #{qydelegate,jdbcType=VARCHAR}, #{qyphone,jdbcType=VARCHAR}, 
      #{jyarea,jdbcType=VARCHAR}, #{jynum,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, 
      #{spdelegate,jdbcType=VARCHAR}, #{jiandurenyuan,jdbcType=VARCHAR}, #{xieguanrenyuan,jdbcType=VARCHAR}, 
      #{scpermit,jdbcType=VARCHAR}, #{fazhengjiguan,jdbcType=VARCHAR}, #{fazhengriqi,jdbcType=VARCHAR}, 
      #{youxiaodate,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{healthfood,jdbcType=VARCHAR}, #{cosmetic,jdbcType=VARCHAR}, #{jytype,jdbcType=VARCHAR}, 
      #{cynum,jdbcType=VARCHAR}, #{graduatenum,jdbcType=VARCHAR}, #{juniornum,jdbcType=VARCHAR}, 
      #{manage,jdbcType=VARCHAR}, #{amend,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.foodregulation.dao.entity.Health" >
    insert into health
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="qyname != null" >
        qyname,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="scaddress != null" >
        scaddress,
      </if>
      <if test="ems != null" >
        ems,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="jjtype != null" >
        jjtype,
      </if>
      <if test="gsorganization != null" >
        gsorganization,
      </if>
      <if test="zzcode != null" >
        zzcode,
      </if>
      <if test="fddelegate != null" >
        fddelegate,
      </if>
      <if test="fdphone != null" >
        fdphone,
      </if>
      <if test="qydelegate != null" >
        qydelegate,
      </if>
      <if test="qyphone != null" >
        qyphone,
      </if>
      <if test="jyarea != null" >
        jyArea,
      </if>
      <if test="jynum != null" >
        jyNum,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="spdelegate != null" >
        spdelegate,
      </if>
      <if test="jiandurenyuan != null" >
        jiandurenyuan,
      </if>
      <if test="xieguanrenyuan != null" >
        xieguanrenyuan,
      </if>
      <if test="scpermit != null" >
        scpermit,
      </if>
      <if test="fazhengjiguan != null" >
        fazhengjiguan,
      </if>
      <if test="fazhengriqi != null" >
        fazhengriqi,
      </if>
      <if test="youxiaodate != null" >
        youxiaodate,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="healthfood != null" >
        healthFood,
      </if>
      <if test="cosmetic != null" >
        cosmetic,
      </if>
      <if test="jytype != null" >
        jyType,
      </if>
      <if test="cynum != null" >
        cyNum,
      </if>
      <if test="graduatenum != null" >
        graduateNum,
      </if>
      <if test="juniornum != null" >
        juniorNum,
      </if>
      <if test="manage != null" >
        manage,
      </if>
      <if test="amend != null" >
        amend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qyname != null" >
        #{qyname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="scaddress != null" >
        #{scaddress,jdbcType=VARCHAR},
      </if>
      <if test="ems != null" >
        #{ems,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="jjtype != null" >
        #{jjtype,jdbcType=VARCHAR},
      </if>
      <if test="gsorganization != null" >
        #{gsorganization,jdbcType=VARCHAR},
      </if>
      <if test="zzcode != null" >
        #{zzcode,jdbcType=VARCHAR},
      </if>
      <if test="fddelegate != null" >
        #{fddelegate,jdbcType=VARCHAR},
      </if>
      <if test="fdphone != null" >
        #{fdphone,jdbcType=VARCHAR},
      </if>
      <if test="qydelegate != null" >
        #{qydelegate,jdbcType=VARCHAR},
      </if>
      <if test="qyphone != null" >
        #{qyphone,jdbcType=VARCHAR},
      </if>
      <if test="jyarea != null" >
        #{jyarea,jdbcType=VARCHAR},
      </if>
      <if test="jynum != null" >
        #{jynum,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="spdelegate != null" >
        #{spdelegate,jdbcType=VARCHAR},
      </if>
      <if test="jiandurenyuan != null" >
        #{jiandurenyuan,jdbcType=VARCHAR},
      </if>
      <if test="xieguanrenyuan != null" >
        #{xieguanrenyuan,jdbcType=VARCHAR},
      </if>
      <if test="scpermit != null" >
        #{scpermit,jdbcType=VARCHAR},
      </if>
      <if test="fazhengjiguan != null" >
        #{fazhengjiguan,jdbcType=VARCHAR},
      </if>
      <if test="fazhengriqi != null" >
        #{fazhengriqi,jdbcType=VARCHAR},
      </if>
      <if test="youxiaodate != null" >
        #{youxiaodate,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="healthfood != null" >
        #{healthfood,jdbcType=VARCHAR},
      </if>
      <if test="cosmetic != null" >
        #{cosmetic,jdbcType=VARCHAR},
      </if>
      <if test="jytype != null" >
        #{jytype,jdbcType=VARCHAR},
      </if>
      <if test="cynum != null" >
        #{cynum,jdbcType=VARCHAR},
      </if>
      <if test="graduatenum != null" >
        #{graduatenum,jdbcType=VARCHAR},
      </if>
      <if test="juniornum != null" >
        #{juniornum,jdbcType=VARCHAR},
      </if>
      <if test="manage != null" >
        #{manage,jdbcType=VARCHAR},
      </if>
      <if test="amend != null" >
        #{amend,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodregulation.dao.entity.Health" >
    update health
    <set >
      <if test="qyname != null" >
        qyname = #{qyname,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="scaddress != null" >
        scaddress = #{scaddress,jdbcType=VARCHAR},
      </if>
      <if test="ems != null" >
        ems = #{ems,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="jjtype != null" >
        jjtype = #{jjtype,jdbcType=VARCHAR},
      </if>
      <if test="gsorganization != null" >
        gsorganization = #{gsorganization,jdbcType=VARCHAR},
      </if>
      <if test="zzcode != null" >
        zzcode = #{zzcode,jdbcType=VARCHAR},
      </if>
      <if test="fddelegate != null" >
        fddelegate = #{fddelegate,jdbcType=VARCHAR},
      </if>
      <if test="fdphone != null" >
        fdphone = #{fdphone,jdbcType=VARCHAR},
      </if>
      <if test="qydelegate != null" >
        qydelegate = #{qydelegate,jdbcType=VARCHAR},
      </if>
      <if test="qyphone != null" >
        qyphone = #{qyphone,jdbcType=VARCHAR},
      </if>
      <if test="jyarea != null" >
        jyArea = #{jyarea,jdbcType=VARCHAR},
      </if>
      <if test="jynum != null" >
        jyNum = #{jynum,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="spdelegate != null" >
        spdelegate = #{spdelegate,jdbcType=VARCHAR},
      </if>
      <if test="jiandurenyuan != null" >
        jiandurenyuan = #{jiandurenyuan,jdbcType=VARCHAR},
      </if>
      <if test="xieguanrenyuan != null" >
        xieguanrenyuan = #{xieguanrenyuan,jdbcType=VARCHAR},
      </if>
      <if test="scpermit != null" >
        scpermit = #{scpermit,jdbcType=VARCHAR},
      </if>
      <if test="fazhengjiguan != null" >
        fazhengjiguan = #{fazhengjiguan,jdbcType=VARCHAR},
      </if>
      <if test="fazhengriqi != null" >
        fazhengriqi = #{fazhengriqi,jdbcType=VARCHAR},
      </if>
      <if test="youxiaodate != null" >
        youxiaodate = #{youxiaodate,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="healthfood != null" >
        healthFood = #{healthfood,jdbcType=VARCHAR},
      </if>
      <if test="cosmetic != null" >
        cosmetic = #{cosmetic,jdbcType=VARCHAR},
      </if>
      <if test="jytype != null" >
        jyType = #{jytype,jdbcType=VARCHAR},
      </if>
      <if test="cynum != null" >
        cyNum = #{cynum,jdbcType=VARCHAR},
      </if>
      <if test="graduatenum != null" >
        graduateNum = #{graduatenum,jdbcType=VARCHAR},
      </if>
      <if test="juniornum != null" >
        juniorNum = #{juniornum,jdbcType=VARCHAR},
      </if>
      <if test="manage != null" >
        manage = #{manage,jdbcType=VARCHAR},
      </if>
      <if test="amend != null" >
        amend = #{amend,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodregulation.dao.entity.Health" >
    update health
    set qyname = #{qyname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      scaddress = #{scaddress,jdbcType=VARCHAR},
      ems = #{ems,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      jjtype = #{jjtype,jdbcType=VARCHAR},
      gsorganization = #{gsorganization,jdbcType=VARCHAR},
      zzcode = #{zzcode,jdbcType=VARCHAR},
      fddelegate = #{fddelegate,jdbcType=VARCHAR},
      fdphone = #{fdphone,jdbcType=VARCHAR},
      qydelegate = #{qydelegate,jdbcType=VARCHAR},
      qyphone = #{qyphone,jdbcType=VARCHAR},
      jyArea = #{jyarea,jdbcType=VARCHAR},
      jyNum = #{jynum,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      spdelegate = #{spdelegate,jdbcType=VARCHAR},
      jiandurenyuan = #{jiandurenyuan,jdbcType=VARCHAR},
      xieguanrenyuan = #{xieguanrenyuan,jdbcType=VARCHAR},
      scpermit = #{scpermit,jdbcType=VARCHAR},
      fazhengjiguan = #{fazhengjiguan,jdbcType=VARCHAR},
      fazhengriqi = #{fazhengriqi,jdbcType=VARCHAR},
      youxiaodate = #{youxiaodate,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      healthFood = #{healthfood,jdbcType=VARCHAR},
      cosmetic = #{cosmetic,jdbcType=VARCHAR},
      jyType = #{jytype,jdbcType=VARCHAR},
      cyNum = #{cynum,jdbcType=VARCHAR},
      graduateNum = #{graduatenum,jdbcType=VARCHAR},
      juniorNum = #{juniornum,jdbcType=VARCHAR},
      manage = #{manage,jdbcType=VARCHAR},
      amend = #{amend,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>